@import 'assets/scss/variables.scss';

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 3em;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-high;
  cursor: zoom-out;
  &.show {
    display: flex;
  }

  .btn-close {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    font-size: 3em;
    border-radius: 50%;
    color: $color-light;
    cursor: pointer;
  }

  &-wrapper {
    position: relative;
  }
}